# Bug Bash environment variables — copy to .env and fill in your values
# cp .env.template .env

AZCLITOOLS_TENANT_ID=ed94de55-1f87-4278-9651-525e7ba467d6
AZCLITOOLS_ORG=https://dev.azure.com/azclitools
PERSONAL_VSE_SUBSCRIPTION=
